<!DOCTYPE HTML>
<html>
<header>
</header>

<body>
  <p>Hello World from post.ejs</p> <br>
  Author, <%= post.creator %> <br>
  Created at, <%= post.created %> <br>
  Last Modified at, <%= post.updated %> <br>
  <br>
  <%= post.content %>


</body>


</html>